doctype html
head
  meta(charset='utf-8')
  title eTOC Template
  meta(name="viewport" content='width=device-width, initial-scale=1')
  link(rel='stylesheet' href='css/style.css')

body
  p Pick an eTOC element to generate
  ul
    li: a(href='builds/dev/matter.html') Top and bottom matter
    li: a(href="section-head.html") Section heading (e.g., "News", "Features")
    li: a(href="article-photo.html") Article with photo
    li: a(href="article-no-photo.html") Article without photo

  script(src='http://localhost:35729/livereload.js')

