@import 'compass';
@import 'normalize';
@import 'susy';

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Open+Sans+Condensed:300);

$color-primary: steelblue;
$color-secondary: aliceblue;
$color-accent: orange;
$light: #fff;

$font-primary: 'Open Sans';
$font-secondary: 'Open Sans condensed';



$dark: #999;

$susy: (
  columns: 12,
  global-box-sizing: border-box,
  container: 48em
  /*debug: (*/
    /*image: show*/
  /*)*/
);

* {
  @include box-sizing(border-box);
}

html {
  height: 100%;
  width: 100%;

  font-style: 100%; 
  line-height: 1;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  height: 100%;
  width: 100%;
  font-family: $font-primary, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  color: $dark;
  line-height: 1.4;

}

.wrapper {
  @include clearfix;
  @include container;
  margin-top: 1em;
}

fieldset {
  border: 0; 
}

legend {
  font-size: 2em;
  margin-bottom: .5em;
  color: $color-primary;
  border-bottom: 3px solid $color-accent;
  margin-left: -.875em;
  padding-left: .875em;
  padding-bottom: .375em;
  
}

label {
  text-align: right;
  margin-right: 1em;
  width: 33%;
  color: steelblue;
  /*line-height: 2.5;*/
  display: inline-block;
  vertical-align: text-bottom;

  &.v-align-top {
    vertical-align: top;
  }
}

textarea {
  line-height: 1.4;

  &:focus {
    border: 2px solid darken($color-primary, 10%);
    outline: 0;
    @include transition-property(border);
    @include transition-duration(.2s);
  }
}

input, textarea {

  padding: .5em;
  margin-bottom: 1em;
  width: 63%;
  border-radius: 5px;
  box-shadow: 0 0 8px rgba($color-primary,.5);
  border-color: #fff;
  color: $color-primary;
  font-size: 1.2em;
  display: inline-block;
  border-left-style: solid;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-width: 2px;

  &[type='submit'] {
    left: -.3em;
    position: relative;
    width: 25%;
    float: right;
  }

  &[type='text']:focus {
    @extend textarea:focus;
  }
} // input

.btn {
  color: #fff;
  background: $color-accent;
  border: 0;

  &:focus {
    outline-width: thin;
    outline-color: rgba($color-primary, .3);
  }

  &:hover {
    background: $color-primary;
  }
 
  &:active {
    color: $color-accent;
    background: $color-secondary;
    /*@include transition-property(background, color);*/
    /*@include transition-duration(.2s);*/
  }

  &.btn-count {
    /*float: right;*/
  }
}

form {
  background-color: $color-secondary;  
  /*@include border-radius(4px);*/
  /*box-shadow: 3px 3px 3px lighten($dark, 30%);*/
  padding: 1em;
  margin: 1em;
  border: 1px solid $color-accent;
}

.template-pick-container {
  @include clearfix;

  h1 {
    @include span(8 of 12);
    margin-left: span(2);
    text-align: center;
    font-weight: normal;
    color: $color-primary;


  }
  
  ul {
    @include span(6 of 12);
    list-style: none;
    padding: 0;
    margin-left: span(3 wide);
  }
  
  li {
    margin-bottom: 1em;
  }
} // .template-pick-container


a {
  text-decoration: none;
  color: $color-primary;
  &:hover, &:active {
    color: darken($color-primary, 25%);
    text-decoration: underline;

    @include transition-property(color);
    @include transition-duration(.3s);
  }
}

.char_count {
  color: lighten($color-primary, 20%);
}
